/* 선택자 */

/* header 가운데 정렬용 div */
div#header_center {
    margin: 0 auto; width: 1080px;
}
/*
div#header_center > h1 {
    width: 300px;
}
*/

/* 로고 */
div#header_search h1 {
    width: 300px;
    display: inline-block;
}

/* 검색필드 */
div#header_search fieldset {
    width: 500px;
    display: inline-block;
}

/* 검색창 */
div#header_search fieldset input{
    width: 300px;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
