/* 선택자 */

/* header 가운데 정렬용 div */
#header_center {
    margin: 0 auto; 
    width: 1080px;
    height: 200px;
}
/*
div#header_center > h1 {
    width: 300px;
}
*/

/* 로고 */
#header_search h1 {
/*
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    */
    width: 222px;
    height: 52px;
    display: inline-block;

    background-image: url(https://s.pstatic.net/static/www/img/2018/sp_search.svg);
    background-position: -4px -4px;
    background-repeat: no-repeat;

}

#header_search a {
    text-decoration: none;
    vertical-align: middle;

}



/* 검색필드 */
#header_search fieldset {
    display: inline-block;
    position: relative;
    margin: 0px;
    border: 2px solid #19ce60;
    border-radius: 2px;
    padding: 0px;
    width: 586px;
    height: 56px;
    display: inline-block;
    vertical-align: middle;
}

/* 검색창 */
#header_search fieldset input{
    display: inline-block;
    margin: 1px;
    border: none;
    padding: 13px;
    outline: 0px;
    width: 444px;
    height: 24px;    
    vertical-align: top;

}

#header_search fieldset button{
    background-color: #19ce60;
    /*
    background-image: url(https://s.pstatic.net/static/www/img/2018/sp_search.svg);
    background-position: 0px -50px;
    background-repeat: none;
    */
    margin: 0px;
    border: none;
    padding: 0px;
    width: 56px;
    height: 56px;

    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

span#search_image {
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/2018/sp_search.svg);
    background-position: -4px -60px;
    background-repeat: none;

    width: 21px;
    height: 21px;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.disblind {
    display: none;
}
